<template>
  <div id="app">
    <div class="ui active dimmer" v-if="loading">
      <div class="ui loader">
      </div>
    </div>
    <div class="ui four column grid">
      <div class="column" v-for="user in users">
        <div class="ui card">
          <div class="content">
             <div class="header"><input class="inputData" type="text" v-model="user.name"></div>
             <div class="meta"><a>Friends</a></div>
             <div class="description">
                {{user.address.street}}<br>
                {{user.address.zipcode}} {{ user.address.city}}<br>
             </div>
             <div class="ui two buttons">
               <button class="ui basic green button" @click="save(user)">Modify</button>
               <button class="ui basic red button" @click="destroy(user)">Delete</button>
             </div>
          </div>
        </div>
      </div>
    </div>
      
  </div>
</template>

<script>
export default { 

  data () {
    return {
      users: [],
      loading: false
    }
  },
  mounted () {
    this.$user=this.$resource('users{/id}', {},{},{
      before: () => {this.loading= true},
      after: () => {this.loading= false} 
    })
    this.$user.query().then((response) => {
      //console.log('success', response)
      //this.users= response.data
      response.json().then( (data) => {
        this.users=data
        console.log(data)
      })
    }, (response) => {
      console.log('error', response)
    })
  },
  methods: {
    save (user) {
      this.loading=true
      //llamada a $resource guardado en $user
      this.$user.update({id: user.id}, {name: user.name}).then((response) => {//success
      }, (response) => {// error
        console.log('error', response)
      })
    },
    destroy (user) {
      this.loading=true
      //llama del $resoure 
      this.$user.remove({id: user.id})
      .then((response) => {//success
        this.users= this.users.filter(u => u !== user)
      }, (response) => {// error
        console.log('error', response)
      })
    },
  }

}
</script>
<style scoped>
  .inputData{
    width: 100%
  }
</style>